SOLANA_RPC_URL=https://api.devnet.solana.com
PROGRAM_ID=TbxGzvqiuNfeV8GAoP2unFwjTu1Ry7hjnaesCorJm9v

SCORING_FIXTURE_ID=

PREDICTIONS_SOURCE=onchain
PREDICTIONS_FILE=

REFRESH_INTERVAL_MS=30000

REDIS_URL=redis://127.0.0.1:6379

MONGO_URL=
MONGO_DB=soccit

LOG_LEVEL=info
